<app-main-layout>

    <!-- Page Header -->

    <div class="mb-6">
      <div class="flex">
      <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#00008b"><path d="M540-80q-108 0-184-76t-76-184v-23q-86-14-143-80.5T80-600v-240h120v-40h80v160h-80v-40h-40v160q0 66 47 113t113 47q66 0 113-47t47-113v-160h-40v40h-80v-160h80v40h120v240q0 90-57 156.5T360-363v23q0 75 52.5 127.5T540-160q75 0 127.5-52.5T720-340v-67q-35-12-57.5-43T640-520q0-50 35-85t85-35q50 0 85 35t35 85q0 39-22.5 70T800-407v67q0 108-76 184T540-80Zm248.5-411.5Q800-503 800-520t-11.5-28.5Q777-560 760-560t-28.5 11.5Q720-537 720-520t11.5 28.5Q743-480 760-480t28.5-11.5ZM760-520Z"/></svg>
      <h1 class="text-3xl font-semibold text-gray-800">
        Doctor Schedules
      </h1>
      </div>

      <p class="text-gray-500 mt-1">
        Doctors can add their available time slots
      </p>
    </div>

    <!-- Create Schedule Card -->

    <div class="bg-white border-gray-200 rounded-xl p-3 shadow-sm mb-6" >
     <div class="flex"> <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#255290"><path d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v200h-80v-40H200v400h280v80H200Zm0-560h560v-80H200v80Zm0 0v-80 80ZM560-80v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q8 9 12.5 20t4.5 22q0 11-4 22.5T903-300L683-80H560Zm300-263-37-37 37 37ZM620-140h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z"/></svg>
      <h2 class="text-xl font-medium text-gray-800 mb-5">
        Create Schedule
      </h2></div>

      <form
        [formGroup]="scheduleForm"
        (ngSubmit)="addSchedule()"
        class="grid grid-cols-1 md:grid-cols-2 gap-5"
      >

        <!-- Doctor ID -->

        <div>
          <label class="block text-sm text-gray-700 mb-2">
            Doctor ID
          </label>

          <input
            type="text"
            formControlName="doctorId"
            class="w-full border border-gray-300 rounded-lg px-4 py-3 focus:ring-2 focus:ring-teal-500 focus:outline-none"
          />
        </div>

        <!-- Date -->

        <div>
          <label class="block text-sm text-gray-700 mb-2">
            Date
          </label>

          <input
            type="date"
            formControlName="date"
            class="w-full border border-gray-300 rounded-lg px-4 py-3 focus:ring-2 focus:ring-teal-500 focus:outline-none"
          />
        </div>

        <!-- Start Time -->

        <div>
          <label class="block text-sm text-gray-700 mb-2">
            Start Time
          </label>

          <input
            type="time"
            formControlName="startTime"
            class="w-full border border-gray-300 rounded-lg px-4 py-3 focus:ring-2 focus:ring-teal-500 focus:outline-none"
          />
        </div>

        <!-- End Time -->

        <div>
          <label class="block text-sm text-gray-700 mb-2">
            End Time
          </label>

          <input
            type="time"
            formControlName="endTime"
            class="w-full border border-gray-300 rounded-lg px-4 py-3 focus:ring-2 focus:ring-teal-500 focus:outline-none"
          />
        </div>

        <!-- Slot Duration -->

        <div>
          <label class="block text-sm text-gray-700 mb-2">
            Slot Duration (min)
          </label>

          <input
            type="number"
            formControlName="slotDurationMinutes"
            class="w-full border border-gray-300 rounded-lg px-4 py-3 focus:ring-2 focus:ring-teal-500 focus:outline-none"
          />
        </div>

        <!-- Available Slots -->

        <div>
          <label class="block text-sm text-gray-700 mb-2">
            Available Slots
          </label>

          <input
            type="number"
            formControlName="availableSlots"
            class="w-full border border-gray-300 rounded-lg px-4 py-3 focus:ring-2 focus:ring-teal-500 focus:outline-none"
          />
        </div>

        <!-- Button -->

        <div class="md:col-span-2">

          <button
            type="submit"
            class="bg-blue-800 hover:bg-blue-700 text-white px-6 py-3 rounded-lg shadow"
          >
            Add Schedule
          </button>

        </div>

      </form>

    </div>

    <!-- Schedule Table -->

    <div class="bg-white border rounded-2xl p-6 shadow-sm">

      <div class="flex justify-between items-center mb-5">

        <h2 class="text-xl font-medium text-gray-800">
          All Schedules
        </h2>

        <button
          (click)="refreshSchedules()"
          class="border border-blue-800 text-blue-800 px-5 py-2 rounded-xl hover:bg-blue-100 transition"
        >
          Refresh
        </button>

      </div>

      <div class="overflow-x-auto">

        <table class="w-full">

          <thead>

          <tr class="bg-gray-50 text-sm text-gray-600">

            <th class="text-left p-3">ID</th>
            <th class="text-left p-3">DOCTOR</th>
            <th class="text-left p-3">DATE</th>
            <th class="text-left p-3">START</th>
            <th class="text-left p-3">END</th>
            <th class="text-left p-3">SLOT(MIN)</th>
            <th class="text-left p-3">AVAILABLE</th>

          </tr>

          </thead>

          <tbody>

          @if (schedules.length === 0) {

          <tr>
            <td
              colspan="7"
              class="text-center py-6 text-gray-500"
            >
              No schedules yet.
            </td>
          </tr>

          }

          @for(schedule of schedules; track schedule.scheduleId) {
          <tr class="border-t">
            <td class="p-3">
              {{ schedule.scheduleId }}
            </td>
            <td class="p-3">
              {{ schedule.doctorId }}
            </td>
            <td class="p-3">
              {{ schedule.date }}
            </td>
            <td class="p-3">
              {{ schedule.startTime }}
            </td>
            <td class="p-3">{{ schedule.endTime }}</td>
            <td class="p-3">{{ schedule.slotDurationMinutes }}
            </td>
            <td class="p-3">
              {{ schedule.availableSlots }}
            </td>
            <td class="p-3">
              <button class="text-red-600 hover:underline"
                      (click)="deleteSchedule(schedule.scheduleId!)"
              >
                Delete
              </button>
            </td>
          </tr>
          }

          </tbody>

        </table>

      </div>

    </div>

</app-main-layout>
