<div class="min-h-screen flex bg-#FEFEFE">

  <!-- Left Side -->
<div class="hidden lg:flex lg:w-1/2 relative overflow-hidden">

  <!-- Background Image -->
  <img
    src="Designer.png"
    alt="CareNexus"
    class="absolute w-full h-full object-contain" />

  <!-- Dark Overlay -->
  <!-- <div class="absolute inset-0 bg-black/40"></div> -->

  <!-- Content -->
  <div class="relative z-10 flex flex-col justify-center items-center text-center px-12 w-full">
<!-- 
    <h2 class="text-5xl font-bold text-blue-900">
      CareNexus
    </h2>

    <p class="text-blue-900 text-xl mt-4 max-w-lg">
      Connecting Patients, Doctors and Healthcare Services through one intelligent healthcare platform.
    </p> -->

  </div>

  </div>

  <!-- Right Side -->
  <div class="w-full lg:w-1/2 flex items-center justify-center p-8 bg-white">

    <div class="w-full max-w-md">

      <!-- Logo -->
      <div class="mb-8">

        <h1 class="text-4xl font-bold text-blue-900">
          CareNexus
        </h1>

        <p class="text-gray-500 mt-2">
          Sign in to access your healthcare dashboard
        </p>

      </div>

      <!-- Error -->
      <div
        *ngIf="errorMessage"
        class="mb-5 bg-red-50 border border-red-200 text-red-600 px-4 py-3 rounded-lg">

        {{ errorMessage }}

      </div>

      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()">

        <div class="mb-5">

          <label class="block text-sm font-medium text-gray-600 mb-2">
            Email Address
          </label>

          <input
            type="email"
            formControlName="email"
            placeholder="Enter your email"
            class="w-full bg-gray-50 border border-gray-200 rounded-lg px-4 py-3 focus:outline-none focus:ring-2 focus:ring-blue-800"/>

        </div>

        <div class="mb-6">

          <label class="block text-sm font-medium text-gray-600 mb-2">
            Password
          </label>

          <input
            type="password"
            formControlName="password"
            placeholder="Enter your password"
            class="w-full bg-gray-50 border border-gray-200 rounded-lg px-4 py-3 focus:outline-none focus:ring-2 focus:ring-blue-800"/>

        </div>

        <button
          type="submit"
          [disabled]="loginForm.invalid"
          class="w-full bg-blue-900 hover:bg-blue-800 disabled:bg-slate-400 text-white font-medium py-3 rounded-lg transition">

          Sign In

        </button>

      </form>

      <div class="mt-6 text-center text-sm text-gray-500">

        Don't have an account?

        <a
          routerLink="/signup"
          class="text-blue-900 font-medium hover:underline">

          Sign Up

        </a>

      </div>

    </div>

  </div>
</div>