<div class="bg-blue-900 rounded-xl p-5 mb-6 shadow-sm text-white">

  <div class="flex items-center gap-3">

    <svg xmlns="http://www.w3.org/2000/svg"
         height="24"
         width="24"
         viewBox="0 -960 960 960"
         fill="white">
      <path d="M480-80q-83 0-156-31.5t-127-85.5q-54-54-85.5-127T80-480q0-83 31.5-156t85.5-127q54-54 127-85.5T480-880q83 0 156 31.5t127 85.5q54 54 85.5 127T880-480q0 83-31.5 156t-85.5 127q-54 54-127 85.5T480-80Z"/>
    </svg>

    <div>
      <h1 class="text-xl font-semibold">
        Electronic Medical Records
      </h1>

      <p class="text-sm text-blue-100 mt-1">
        Manage consultations, prescriptions and referrals
      </p>
    </div>

  </div>

</div>

<div class="bg-white rounded-xl shadow-sm mb-6 px-6">

  <div class="flex gap-8">

    <a
      routerLink="/consultation"
      routerLinkActive="border-b-2 border-blue-900 text-blue-900"
      class="py-4 text-gray-600 font-medium">

      Consultations

    </a>

    <a
      routerLink="/prescription"
      routerLinkActive="border-b-2 border-blue-900 text-blue-900"
      class="py-4 text-gray-600 font-medium">

      Prescriptions

    </a>

    <a
      routerLink="/referral"
      routerLinkActive="border-b-2 border-blue-900 text-blue-900"
      class="py-4 text-gray-600 font-medium">

      Referrals

    </a>

  </div>

</div>