<app-main-layout>

  <div class="page-container">

    <app-emr-tabs></app-emr-tabs>

    <!-- Create Consultation -->
    <div class="card">

      <h2 class="section-title">
        {{ isEditMode ? 'Update Consultation' : 'Create Consultation' }}
      </h2>

      <form
  [formGroup]="consultationForm"
  (ngSubmit)="saveConsultation()">

  <div class="form-grid">

    <div class="form-group">
      <label>Appointment ID</label>
      <input
        type="number"
        formControlName="appointmentId">
    </div>

    <div class="form-group">
      <label>Patient ID</label>
      <input
        type="number"
        formControlName="patientId">
    </div>

    <div class="form-group">
      <label>Doctor ID</label>
      <input
        type="number"
        formControlName="doctorId">
    </div>

    <div class="form-group">
      <label>Consultation Date</label>
      <input
        type="datetime-local"
        formControlName="consultationDate">
    </div>

  <div class="form-group ">

    <label>Diagnosis</label>

    <textarea
      formControlName="diagnosis">
    </textarea>
  </div>


  <div class="form-group ">
    <label>Treatment Plan</label>

    <textarea
      formControlName="treatmentPlan">
    </textarea>

  </div>

  <div class="form-group">

    <label>Symptoms</label>

    <input
      type="text"
      formControlName="symptoms">

  </div>

  <div class="form-group">

    <label>Status</label>

    <select formControlName="status">

      <option value="InProgress">
        In Progress
      </option>

      <option value="Completed">
        Completed
      </option>

    </select>

  </div>

  </div>

  <button
    type="submit"
    class="primary-btn">

    {{ isEditMode ? 'Update Consultation' : 'Save Consultation' }}

  </button>

</form>

    </div>

    <!-- Consultation Records -->
    <div class="table-card">

      <div class="table-header">

        <h2>Consultation Records</h2>

        <div class="table-actions">

          <input
            [(ngModel)]="searchId"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Search Consultation ID"
            class="search-input">

          <button
            type="button"
            (click)="searchConsultation()"
            class="secondary-btn">
            Search
          </button>

          <button
            type="button"
            (click)="refreshConsultations()"
            class="secondary-btn">
            Refresh
          </button>

        </div>

      </div>

      <div class="table-responsive">

        <table>

          <thead>

            <tr>
              <th>ID</th>
              <th>Appointment ID</th>
              <th>Patient ID</th>
              <th>Doctor ID</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>

          </thead>

          <tbody>

            <tr *ngFor="let consultation of consultations">

              <td>{{ consultation.consultationId }}</td>
              <td>{{ consultation.appointmentId }}</td>
              <td>{{ consultation.patientId }}</td>
              <td>{{ consultation.doctorId }}</td>

              <td>

                <span
                  class="status-badge"
                  [ngClass]="consultation.status === 'Completed'
                  ? 'status-completed'
                  : 'status-progress'">

                  {{ consultation.status }}

                </span>

              </td>

              <td class="action-cell">

                <button
                  type="button"
                  (click)="editConsultation(consultation)"
                  class="edit-btn">

                  Edit

                </button>

                <button
                  type="button"
                  (click)="deleteConsultation(consultation.consultationId!)"
                  class="delete-btn">

                  Delete

                </button>

              </td>

            </tr>

            <tr *ngIf="consultations.length === 0">

              <td
                colspan="6"
                class="no-records">

                No consultations found

              </td>

            </tr>

          </tbody>

        </table>

      </div>

    </div>

  </div>

</app-main-layout>